GITHUB_CLIENT=<github-client-id>
GITHUB_SECRET=<github-secret>
MONGO_PORT=tcp://localhost:27017
EXT_HOST=localhost:8081 # external url for your application (GitHub login for example)
PORT=8081 # port to run application on
