form#logoutForm(action="/logout?some", method="post")
.navbar.navbar-inverse.narbar-fixed-top(role="navigation", style="margin:10px 20px;")
  .navbar-header
    a.navbar-brand(href="#") Skin

  .navbar-right
    ul.nav.navbar-nav
      li
        a(href="#", onclick="javascript:document.forms['logoutForm'].submit();return false;") Logout

  .collapse.navbar-collapse
    ul.nav.navbar-nav
      li(class=action == 'users' ? 'active' : '')
        a(href="/admin/users") Users
      li(class=action == 'reports' ? 'active' : '')
        a(href="#") Reports

    form.navbar-form(role="search",style="margin-left: 200px;")
      .form-group
        input.form-control#search(type='text', placeholder='Start Typing...', style="width: 300px;margin: 0 10px;")
      button.btn.btn-default.btn-sm#searchBtn(type='submit', onclick="javascript:window.open('/admin/' + $('#action').val() + '/search?term=' + $('#search').val())") Search
      input#action(type='hidden', value=action)
        

