.navbar.navbar-inverse.narbar-fixed-top(role="navigation", style="margin:10px 20px;")
  .navbar-header
    a.navbar-brand(href="/") NaggyBot

  .collapse.navbar-collapse.navbar-right
    ul.nav.navbar-nav
      li(class=action == 'login' ? 'active' : '')
        a(href="/auth/github") LogIn

  .collapse.navbar-collapse
    ul.nav.navbar-nav
      li(class='active')
        a(href="/") How It Works

