extends layout

block append title
  title Home | NaggyBot

block content
  h1 NaggyBot - Watch Out!
  include _alert.jade

  a.btn.btn-primary(href="/signup") Signup Now

  | &nbsp; &nbsp;
  span and enjoy the app today

  h3 Already a customer?
  a.btn.btn-default(href="/login") Login
  | &nbsp; &nbsp;
  span it is free

