extends layout

block append title
  title Home | NaggyBot

block content
  h1 NaggyBot - Watch Out!
  include _alert.jade

  a.btn.btn-primary.btn-social.btn-github.btn-lg(href="/auth/github")
    i.fa.fa-github(style="margin: 5px;")
    || Login With GitHub

  | &nbsp; &nbsp;
  span and enjoy the app today

