doctype html 5
html(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="viewport", content='width=device-width, initial-scale=1')
    block title
      meta(name="description", content="NaggyBot. Watch Out!")
      meta(name="author", content="Dmitry Skrinnik")
      link(rel="stylesheet", type="text/css", href="/bootstrap.css?" + tscss)
      link(rel="stylesheet", type="text/css", href="/lib/jquery.simplePagination/simplePagination.css?" + tscss)

      script(src='/lib/jquery/dist/jquery.min.js?' + tsjs)
      script(src='/lib/jquery.simplePagination/jquery.simplePagination.js?' + tsjs)
      script(src='/lib/sugar/release/sugar-full.min.js?' + tsjs)

  body
    include _navbar
    .container
      block content

    block footer
      footer

