extends ../../shared/private/layout

block append title
  title Repositories
  - var action = 'repos'

block content
  .container
    div(ng-view)
    input.page#token(type='hidden', name='token', value=token, ng-model="token")
    
